{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

        <!-- Project CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'scraper_app/css/home.css' %}"/>
    </head>
    <body>
        <div class="se-pre-con"></div>
        <script>
            //When the page has loaded.
            $( document ).ready(function(){
                //Perform Ajax request.
                $.ajax({
                    url: '{% url "get_data" %}',
                    type: 'get',
                    success: function(data){
                        //If the success function is execute,
                        //then the Ajax request was successful.
                        //Add the data we received in our Ajax
                        //request to the "content" div.
                        $(".se-pre-con").fadeToggle(1000, function() {
                            $("body").toggle();
                            $("body").html(data).fadeToggle(1000, "linear");
                            //$("container-fluid").toggle(1000);
                        });

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        var errorMsg = 'Ajax request failed: ' + xhr.responseText;
                        $('#content').html(errorMsg);
                      }
                });
            });
        </script>
    </body>
</html>